@page
@model ContactModel


@inject IHttpClientFactory _httpClientFactory

@{
    // this stores the command to redeploy dotnet app. replace <os> with either linux or windows. 
    string redeploy = "az webapp up --os-type linux";
    ViewData["Title"] = "Home page";

    // Creating a hash list using Dictionary to store emails.
    Dictionary<int, string> hashmap = new Dictionary<int, string>();
    hashmap.Add(0, "romerocamilo24@gmail.com");
    hashmap.Add(1,"camilo.romero19@myhunter.cuny.edu");
    hashmap.Add(2,"camilo.romero@stu.bmcc.cuny.edu");
}

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                // Display a pop-up or any other UI element to show the success message
                alert(successMessage);
            }
        });
    </script>
}

<head>
    <!-- Other head elements -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="text-center fs-5">
    <h1 class="display-4" style="padding:20px;">Get in touch!</h1>
    <a class="btn btn-primary" style="margin:10px" href="https://www.linkedin.com/in/camilo-romero-748944210/" target="_blank" role="button">LinkedIn</a>

    @foreach (var pair in hashmap){
       // <p>@pair.Value</p>
    }

    <h2>@("or")</h2>
    <h1>@("Drop your email!")</h1>

    <div class="container-sm" style="padding:30px;">
        <div class="row justify-content-center">
            <div class="col-md-3">

                <form method="post">
                    <div class="mb-3">
                        <label for="email">Email:</label>
                        <input type="email" id="Email" name="Email" required class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="name">Name:</label>
                        <input type="text" id="Name" name="Name" required class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>


    

</div>

