@page
@model ContactModel


@inject IHttpClientFactory _httpClientFactory

@{
    // this stores the command to redeploy dotnet app. replace <os> with either linux or windows. 
    string redeploy = "az webapp up --os-type linux";
    ViewData["Title"] = "Home page";

    // Creating a hash list using Dictionary to store emails.
    Dictionary<int, string> hashmap = new Dictionary<int, string>();
    hashmap.Add(0, "romerocamilo24@gmail.com");
    hashmap.Add(1,"camilo.romero19@myhunter.cuny.edu");
    hashmap.Add(2,"camilo.romero@stu.bmcc.cuny.edu");
}

<head>
    <!-- Other head elements -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="text-center">
    <h1 class="display-4">Get in touch!</h1>
    <button class="linkedin"><a href="https://www.linkedin.com/in/camilo-romero-748944210/" target="_blank">LinkedIn</a></button>

    @foreach (var pair in hashmap){
        <p>@pair.Value</p>
    }

    <h1> Drop your email! </h1>

    <form method="post">
        <label for="name">Email:</label>
        <input type="text" id="Email" name="Email" required />

        <label for="email">Name:</label>
        <input type="email" id="Name" name="Name" required />

        <button type="submit">Submit</button>
    </form>

</div>