@page
@model IndexModel

@inject IHttpClientFactory _httpClientFactory

@{
    // this stores the command to redeploy dotnet app. replace <os> with either linux or windows. 
    string redeploy = "az webapp up --os-type linux";
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <p class="fs-4">Hello there! My name is</p>
    <h1 class="display-3 text-primary">Camilo Romero</h1>
    <p>@Model.Message</p>
    <p>@Model.FunctionResponse</p>
</div>
