@page
@model IndexModel

@inject IHttpClientFactory _httpClientFactory

@{
    // this stores the command to redeploy dotnet app. replace <os> with either linux or windows. 
    string redeploy = "az webapp up --os-type linux";
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.Message</p>
    <p>@Model.FunctionResponse</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/lrYoRfyUux0?si=AC3tqc1kWGGrV4Vm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
