@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";

    /*
        Instructions = "create function app, enable identity for function app
        copy connection string from sql database and add it to function app as a configuration
        named SqlConnectionString. Set your sql server as admin with your outlook acc by going to microsoft
        entra id in settings of the server follow this, https://www.youtube.com/watch?v=B1CUJeKwpdw&lc=Ugzv7dT9noCsLukZB9V4AaABAg&ab_channel=ApostolosAthanasiou
    */
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
